header {
    padding: 1rem 0 3rem;
}

nav {
    ul{
        list-style-type: none;
        margin: 0;
        display: flex;
        li {
            text-align: right;
            padding: 0 .5rem;
            &:first-child {
                font-weight: 600;
                padding-left: 0;
            }
            a {
                color: #000;
                text-decoration: none;
                border-bottom: 3px solid transparent;
                transition: .5s;
                padding: 0 .25rem .25rem;
                &:hover, &:focus {
                    border-bottom: 3px solid #000;
                }
                &.active {
                    border-bottom: 3px solid #000;
                }
                &.logo {
                    border: none;
                    font-size: 1.125rem;
                }
            }
            &:first-child {
                padding-right: 2rem;
            }
        }
    }
}